{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Password Changed</title>
{% endblock%}

{% block main_content %}

<div class="container">
    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center text-success font-weight-bold">Changed Password</h1>
            {% include 'messages.html'%}
            <div class="card py-2 px-2">

                <h1 class="text-center text-uppercase m-4 font-weight-bold text-danger">Your Password has been changed</h1>

                <a href="/login" class="btn btn-success text-bold">Go To User Dashboard</a>


            </div>
        </div>
    </div>
</div>

{% endblock %}