{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Forget Password</title>
{% endblock%}

{% block main_content %}

<div class="container">
<div class="row">

    <div class="col-md-6 offset-md-3">
        <h1 class="text-center text-danger text-uppercase m-3 font-weight-bold">Forget Password</h1>
          {% include 'messages.html'%}
        <div class="card py-2 px-2">
        <form class="form" action="" method="POST">
            {% csrf_token %}
            {{ form | bootstrap}}
            <button type="submit" class="btn btn-success mt-3 text-light m-3 font-weight-bold">Send Confirmation Mail</button>
        </form>

    </div>
    </div>
</div>
</div>

{% endblock %}