<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
    .loginlog{
    background-image: url(/static/images/food7.jpg);
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

    </style>
</head>
<body>
<div class="loginlog atag" >
    <h1 class="fs-1 text-danger">Wow! your contact form is sumitted!</h1>
    <button>
    <a href="/" class="text-danger m-3">Go To Homepage</a>
        </button>


</div>
</body>
</html>