

<a class="btn btn-outline-info text-black btn-round m-3" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="width: 250px">Details Access For Admin</a>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class=" text-center">Welcome Admin Profile</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
      <ul class="list-unstyled " style="width:200px;">

        <li><a class="dropdown-item m-3" href="/"><i class="bi bi-house-door m-2"></i>Go To Homepage</a></li>
        <li><a class="dropdown-item m-3" href="/admins/dashboard"><i class="bi bi-arrow-bar-right m-2"></i>Admin Dashboard</a></li>
        <li><a class="dropdown-item m-3" href="show_admins"><i class="bi bi-person-circle m-2"></i>Admin Profile</a></li>
        <li><a class="dropdown-item m-3" href="show_users"><i class="bi bi-people m-2"></i>Users</a></li>
        <li><a class="dropdown-item m-3" href="/foods/get_category"><i class="bi bi-patch-exclamation m-2"></i>Category</a></li>
        <li><a class="dropdown-item m-3" href="/foods/get_food"><i class="bi bi-egg-fried m-2"></i>Foods</a></li>
        <li><a class="dropdown-item m-3" href="/admins/all_orders"><i class="bi bi-cart3 m-2"></i>Orders</a></li>
        <li><a class="dropdown-item m-3" href="/admins/show_payment"><i class="bi bi-wallet2 m-2"></i>Payment History</a></li>
        <li><a class="dropdown-item m-3" href="show_contact_form"><i class="bi bi-info-circle m-2"></i>Contact Forms</a></li>
        <li><a class=" dropdown-item btn btn-danger btn-round m-3 text-danger" href="/logout"><i class="bi bi-box-arrow-right m-2"></i>Logout</a></li>

      </ul>
  </div>
</div>









